@page "/PendingQuestions"
@using Web.Pages.Custom
@attribute [Authorize(Roles = "Admin, SuperAdmin, User")]

<PageTitle>Questions</PageTitle>

<BaseQuestions @ref="baseQuestionsRef" QuestionsRequest="questionsRequest" Title="Pending Questions"
               EmptyText="pending questions" ToggleRoles="@("Admin, SuperAdmin")">
    <AdditionalTopControls>
        <div class="row">
            <div>
                <button class="btn btn-create" @onclick="ShowCreateQuestion">Create</button>
            </div>
        </div>
    </AdditionalTopControls>
    <QuestionActions Context="question">
        <AuthorizeView Roles="Admin, SuperAdmin">
            <button class="btn btn-approve" @onclick="@(() => ShowApproveQuestion(question))">Approve</button>
        </AuthorizeView>
        <button class="btn btn-update" @onclick="@(() => baseQuestionsRef?.ShowUpdateQuestion(question)!)">Update
        </button>
        <button class="btn btn-delete" @onclick="@(() => baseQuestionsRef?.ShowDeleteQuestion(question)!)">Delete
        </button>
    </QuestionActions>
</BaseQuestions>