@page "/categories"
@using Shared.Models
@attribute [Authorize(Roles = "Admin, SuperAdmin")]

<Modal @ref="modal" UseStaticBackdrop="true" CloseOnEscape="true" IsVerticallyCentered="true" Size="ModalSize.Large"/>

<PageTitle>Categories</PageTitle>
<div class="header">
    <div class="header-text">
        <h3>Categories</h3>
    </div>
</div>
<div class="row">
    <div>
        <button class="btn btn-create" @onclick="ShowCreateCategory">Create</button>
    </div>
</div>
<div>
    <div class="header">
        <div class="category-name-header">Category Name</div>
        <div class="actions-header">Actions</div>
    </div>
</div>

@if (categories == null)
{
    <p><em>Loading...</em></p>
}
else if (categories?.NestedCategories?.Count == 0)
{
    <p>No categories found.</p>
}
else if (categories != null && categories.NestedCategories != null)
{
    <ul class="category-list">
        @foreach (CategoryValidationDto category in categories.NestedCategories)
        {
            <CategoryItem Category="category"
                          Modal="modal"
                          OnCategoryChanged="OnCategoryChanged"
                          FlatCategories="categories.FlatCategories"/>
        }
    </ul>
}