.category-item {
    display: contents;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    font-size: 14px;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
}

.category-content {
    border: 1px solid #ddd;
    display: flex;
}

.category-content:nth-child(even) {
    background-color: #f9f9f9;
}

.category-name {
    flex-grow: 1;
    padding-left: 10px;
    align-content: center;
    font-weight: bold;
}
