.category-name-header {
    flex-grow: 1;
    text-align: left;
    width: 85%;
}

.actions-header {
    width: 15%;
    text-align: center;
}

.category-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow: auto;
}

.category-list li {
    padding: 10px;
}