@page "/"
@using Web.Models

<Modal @ref="modal" UseStaticBackdrop="true" CloseOnEscape="true" IsVerticallyCentered="true" Size="ModalSize.Large"/>

<PageTitle>Categories</PageTitle>
<div>
    <div>
        <h3>Categories</h3>
        <button class="btn btn-create" @onclick="ShowCreateCategory">Create</button>
    </div>
    <div class="header">
        <div class="category-name-header">Category Name</div>
        <div class="actions-header">Actions</div>
    </div>
</div>

@if (categories == null)
{
    <p><em>Loading...</em></p>
}
else if (categories.NestedCategories.Count == 0)
{
    <p>No categories found.</p>
}
else
{
    <ul class="category-list">
        @foreach (Category category in categories.NestedCategories)
        {
            <CategoryItem Category="category" 
                          Modal="modal" 
                          OnCategoryCreated="OnCategoryUpdated" 
                          FlatCategories="categories.FlatCategories"/>
        }
    </ul>
}