.category-name-header {
    flex-grow: 1;
    text-align: left;
    padding-left: 10px;
    width: 85%;
}

.actions-header {
    width: 15%;
    text-align: center;
}

.category-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.category-list li {
    padding: 10px;
}