<li class="category-item">
    <div class="category-content">
        <span class="category-name">@Category.CategoryName</span>

        <button class="btn btn-update" @onclick="UpdateCategory">Update</button>
        <button class="btn btn-remove" @onclick="RemoveCategory">Remove</button>
    </div>
    
    @if (Category.ChildCategories?.Any() == true)
    {
        <ul class="child-categories">
            @foreach (var childCategory in Category.ChildCategories)
            {
                <CategoryItem Category="childCategory" />
            }
        </ul>
    }
</li>