@page "/questions"
@inject NavigationManager Navigation

<Modal @ref="modal" UseStaticBackdrop="true" CloseOnEscape="true" IsVerticallyCentered="true" Size="ModalSize.Large"/>

<PageTitle>Questions</PageTitle>
<div id="topElement">
    <div>
        <h3>Questions</h3>
        <button class="btn btn-create" @onclick="ShowCreateQuestion">Create</button>
    </div>
    <div class="header">
        <div class="question-text-header">Question Text</div>
        <div class="answers-header">Answers</div>
        <div class="actions-header">Actions</div>
    </div>
</div>

@if (questions == null)
{
    <p><em>Loading...</em></p>
}
else if (questions.Count == 0)
{
    <p>No questions found.</p>
}
else
{
    <div class="questions-container">
        @foreach (var question in questions)
        {
            <div class="question-row">
                <div class="question-text">@question.QuestionText</div>
                <div class="answers-list">
                    @foreach (var answer in question.Answers)
                    {
                        <span class="@GetAnswerRowClass(answer.IsCorrect)">
                            @answer.AnswerText
                        </span>
                    }
                </div>
                <div class="actions">
                    <button class="btn btn-update" @onclick="() => ShowUpdateQuestion(question.Id)">Update</button>
                    <button class="btn btn-delete" @onclick="() => ShowDeleteQuestion(question.Id)">Delete</button>
                </div>
            </div>
        }
    </div>
    
    <div class="pagination-row">
        <Pagination ActivePageNumber="currentPage"
                    TotalPages="totalPages"
                    DisplayPages="5"
                    FirstLinkIcon="IconName.ChevronDoubleLeft"
                    PreviousLinkIcon="IconName.ChevronLeft"
                    NextLinkIcon="IconName.ChevronRight"
                    LastLinkIcon="IconName.ChevronDoubleRight"
                    PageChanged="OnPageChanged"
                    Alignment="Alignment.Center"/>
    </div>
}