@page "/Play"

<Modal @ref="modal" UseStaticBackdrop="true" CloseOnEscape="true" IsVerticallyCentered="true"
       Size="ModalSize.ExtraLarge"/>
       
<div class="play-wrapper">
       <div class="categories-difficulties-part">
              <div></div>
              <div></div>
       </div>
       <div class="play-part">
              <Button Color="ButtonColor.Primary" >Play</Button>
       </div>
</div>