<EditForm Model="@PendingQuestion" OnValidSubmit="HandleValidSubmit">
    <div class="form-group row mb-3 pending-question-name-row">
        <p> Are you sure you want to approve <span class="pending-question-name">"@PendingQuestion?.QuestionText" </span>pending question</p>
    </div>

    <div class="row">
        <div class="col-md-12 text-right modal-buttons">
            <Button Type="ButtonType.Submit" Color="ButtonColor.Primary" Class="float-end me-2">Yes</Button>
            <Button Type="ButtonType.Button" Color="ButtonColor.Danger" Class="float-end" @onclick="Hide">No</Button>
        </div>
    </div>
</EditForm>