.header-custom {
    display: flex;
}

.header-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-x: auto;
}

.header-text {
    display: flex;
    align-items: center;
}

.header-text h3 {
    margin-bottom: 0;
}

.user-name-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 4;
    font-weight: bold;
    background-color: #f4f4f4;
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.user-email-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 6;
    font-weight: bold;
    background-color: #f4f4f4;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    padding: 10px 0;
}

.user-roles-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 2;
    font-weight: bold;
    background-color: #f4f4f4;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    padding: 10px 0;
}

.actions-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 2;
    font-weight: bold;
    background-color: #f4f4f4;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding: 10px 0;
}

.user-list {
    padding: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.user-item {
    min-height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-top: 1px solid #ddd;
}

.user-item:first-child {
    border-bottom: none;
    border-top: none;
}

.user-item:last-child {
    border-top: none;
}

.user-list .user-item:nth-child(even) {
    background-color: #f9f9f9;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
}

.user-name {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 4;
}

.user-email {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 6;
}

.user-roles {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 2;
}

.actions {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 2;
}

.user-name-header,
.user-name {
    min-width: 250px;
}

.user-email-header,
.user-email {
    min-width: 250px;
}

.user-roles-header,
.user-roles {
    min-width: 150px;
}

.actions-header,
.actions {
    min-width: 250px;
}